arabic-reshaper
asgiref
asn1crypto==1.5.1
certifi
cffi
chardet
charset-normalizer
click
cryptography
cssselect2
Django
html5lib
idna
lxml
# mysqlclient
oscrypto
pillow
pycparser
pyHanko
pyhanko-certvalidator
PyMySQL
pypdf
python-bidi
PyYAML
qrcode
reportlab
requests
six
sqlparse
svglib
tinycss2
typing_extensions
tzlocal
uritools
urllib3
webencodings
xhtml2pdf